.color {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: solid 1px black;
}

.black{
    background-color: black;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.pixel-board {
    display: table;
}

.row {
    display: table-row;
}

.pixel {
    display: table-cell;
    border-width: 1px;
    width: 40px;
    height: 40px;
    border-color: black;
    border-style: solid;
    background-color: white;
}
